
<div class="container-fluid" style="background-color: #f1c40f; color: black;">
    <div  style="justify-content: space-between; display: flex;">
        <div>
            <h3>Practical Task</h3>
        </div>

        <div>
            <a class="btn btn-link me-2" routerLink="login">Login<i class="bi bi-box-arrow-in-right"></i></a>
            <a class="btn btn-link me-2" routerLink="register">Register</a>
            <a class="btn btn-link me-2" routerLink="cart">Cart<i class="bi bi-cart-check"></i>
            <span style="font-size: 10px;" class="badge bg-primary">{{totalItem}}</span></a>
            <a class="btn btn-link me-2" routerLink="products">Product</a>

            
        </div>
    </div>

</div>

  